---
layout: default
---

<div class="btn-group-vertical btn-group-lg" role="group" aria-label="nodebot controls">
  <button id="btn-forward" class="btn btn-secondary btn-block">
    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
  </button>

  <div class="btn-group btn-group-lg" style="width: 100%">
    <button id="btn-left" type="button" class="btn btn-secondary">
      <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    </button>
    <button id="btn-right" type="button" class="btn btn-secondary">
      <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </button>
  </div>

  <button id="btn-reverse" class="btn btn-secondary btn-block">
    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
  </button>

  <button id="btn-stop" class="btn btn-danger btn-block">
    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
  </button>
</div>